{% macro render_text(title, key, type, value='', required=false, help='') %}
<div class="form-floating">
    <input id="{{ key }}"
           name="{{ key }}"
           class="form-control"
           aria-describedby="{{ title }}Help"
           type="{{ type }}"
           value="{{ value }}"
           {% if required %}required{% endif %}
    >
    <label for="{{ key }}" class="form-label">{{ title }}</label>
    <div id="{{ title }}Help" class="form-text">{{ help }}</div>
</div>
{% endmacro %}

