<h3 class="mb-3">Reaction Information</h3>
<div class="d-flex justify-content-between align-items-center mb-2">
    <h4>Number of Known Reactions: <b>{{ data.reactions|length }}</b></h4>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Select a reaction:</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for reaction in data.reactions %}
            <li><a class="dropdown-item" href="#" data-bs-toggle="collapse" data-bs-target="#reaction-{{ loop.index }}">Reaction {{ loop.index }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="reactions-group">
    <div class="card card-body">
    {% for reaction in data.reactions %}
        <div class="collapse {% if loop.index == 1 %}show{% endif %}" id="reaction-{{ loop.index }}" data-bs-parent="#reactions-group">
            <h5 class="mb-2">Reaction {{ loop.index }}</h5>
            <ul class="nav nav-tabs" id="reactionNavTab-{{ loop.index }}" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active custom-link" id="reaction-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#reaction-content-{{ loop.index }}" type="button" role="tab" aria-controls="reaction-content-{{ loop.index }}" aria-selected="true"><b>Reaction SMARTS</b></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link custom-link" id="info-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#info-content-{{ loop.index }}" type="button" role="tab" aria-controls="info-content-{{ loop.index }}" aria-selected="false"><b>Reaction Information</b></button>
                </li>
            </ul>
            <div class="tab-content" id="reactionTabContent-{{ loop.index }}">
                <div class="tab-pane fade show active" id="reaction-content-{{ loop.index }}" role="tabpanel" aria-labelledby="reaction-content-{{ loop.index }}">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ reaction.reactionSMARTS[1] }}" alt="reaction SMARTS">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button class="btn btn-light btn-sm" data-clipboard-text="{{ reaction.reactionSMARTS[0] }}">Copy reaction SMARTS</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="info-content-{{ loop.index }}" role="tabpanel" aria-labelledby="info-content-{{ loop.index }}">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                {% if reaction.description %}
                                    <td width="20%"><b>Description</b></td>
                                    <td>{{ reaction.description }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td width="20%"><b>Tailoring</b></td>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        {% for tail in reaction.tailoring %}
                                            <li>{{ tail }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%"><b>Database References</b></td>
                                <td>
                                    {% if reaction.get("databaseIds") is not none %}
                                        <ul class="list-unstyled mb-0">
                                        {% for key, value in reaction.databaseIds.items() %}
                                            {% if key == "rhea" %}
                                            <li><a target="_blank" href="{{ value[1] }}">{{ key }}: {{ value[0] }}</a></li>
                                            {% elif key == "ec" %}
                                            <li><a target="_blank" href="{{ value[1] }}">BRENDA {{ key }}: {{ value[0] }}</a></li>
                                            <li><a target="_blank" href="{{ value[2] }}">Expasy ENZYME {{ key }}: {{ value[0] }}</a></li>
                                            {% else %}
                                            <li>Unsupported format</li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        No database crosslinks available
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td width="20%"><b>Evidence</b></td>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        {% for code in reaction.evidenceCode %}
                                            <li>{{ code }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%"><b>References</b></td>
                                <td>
                                    {% if reaction.references is not none %}
                                        <ul class="mb-0">
                                        {% for ref in reaction.references %}
                                            <li><a target="_blank" href="{{ ref[1] }}">{{ ref[0] }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        No references available
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% for exp_react in reaction.reactions %}
            <div class="card card-body">
                <h5>Example {{ loop.index }}</h5>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td width="15%"><b>Metadata</b></td>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    {% if exp_react.description %}
                                    <li><b>Description:</b> {{ exp_react.description }}</li>
                                    {% else %}
                                    <li><b>Description:</b> No description available</li>
                                    {% endif %}
                                    <li><b>Intermediate:</b> {{ exp_react.isIntermediate }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="15%"><b>Substrate</b></td>
                            <td>
                                <img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ exp_react.substrate[1] }}" alt="substrate SMILES">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn btn-light btn-sm" data-clipboard-text="{{ exp_react.substrate[0] }}">Copy SMILES</button>
                                </div>
                            </td>
                        </tr>
                        {% for product in exp_react.products %}
                        <tr>
                            <td width="15%"><b>Product {{ loop.index }}</b></td>
                            <td>
                                <img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ product[1] }}" alt="product SMILES">
                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn btn-light btn-sm" data-clipboard-text="{{ product[0] }}">Copy SMILES</button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if exp_react.forbidden_products %}
                            {% for forb_prod in exp_react.forbidden_products %}
                            <tr>
                                <td width="15%"><b>Forbidden Product {{ loop.index }}</b></td>
                                <td>
                                    <img class="img-fluid mx-auto d-block" src="data:image/svg+xml;base64,{{ forb_prod[1] }}" alt="forbidden product SMILES">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button class="btn btn-light btn-sm" data-clipboard-text="{{ forb_prod[0] }}">Copy SMILES</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>