{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-4">
        <div class="col-auto">
            <h1 class="fw-semibold lh-2">Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <p class="lead mb-4">If you found MITE useful and want to get involved with the community effort as a Contributor or as a Reviewer, please do not hesitate to contact us!</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Contact options</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <ul class="lh-base list-unstyled">
                <li><p class="lead mb-1">Visit the <a title="Mite Standard GitHub Organization page" href="https://github.com/mite-standard" class="custom-link" target="_blank">MITE-Standard</a> GitHub Organisation page to learn more about the initiative.</p></li>
                <li><p class="lead mb-1">If you find bugs or have any other recommendations, feel free to open an <a title="Open a new issue" href="https://github.com/mite-standard/mite_data/issues" class="custom-link" target="_blank">Issue</a> on the MITE-Data GitHub page.</p></li>
            </ul>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Meet the Developers</h2>
            <p class="lead mb-4 ">MITE is being developed by the following people</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/95709447?v=4" style="max-width: 100%; height: auto;" class="card-img-top mx-auto" alt="Mitja M. Zdouc">
                <div class="card-body">
                    <h5 class="card-title">Mitja M. Zdouc</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Project Lead and Lead Developer</h6>
                    <p class="card-text">Mitja is a pharmaceutical scientist from Austria, interested in method development for natural product biosynthesis and discovery using genomics and metabolomics.</p>
                    <a title="Email" href="mailto:mitja.zdouc@wur.nl" class="custom-link card-link"><i class="bi bi-envelope"></i></a>
                    <a title="GitHub Personal Page" href="https://github.com/mmzdouc" class="custom-link card-link" target="_blank"><i class="bi bi-github"></i></a>
                    <a title="Twitter/X Account" href="https://twitter.com/mitjamz" class="custom-link card-link" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a title="LinkedIn Account" href="https://nl.linkedin.com/in/mitja-zdouc-phd-05aa9116b" class="custom-link card-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a title="ORCID" href="https://orcid.org/0000-0001-6534-6609" class="custom-link card-link" target="_blank"><i class="fa-brands fa-orcid"></i></a>
                    <a title="Bluesky" href="https://bsky.app/profile/mmzdouc.bsky.social" class="custom-link card-link" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Adriano_Rutz.jpg" style="max-width: 75%; height: auto;" class="card-img-top mx-auto" alt="Adriano Rutz">
                <div class="card-body">
                    <h5 class="card-title">Adriano Rutz</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Adriano is a pharmaceutical scientist from Switzerland, interested in method development for the characterization of biological matrices using mass spectrometry-based computational metabolomics.</p>
                    <a title="Email" href="mailto:rutz@imsb.biol.ethz.ch" class="custom-link card-link"><i class="bi bi-envelope"></i></a>
                    <a title="GitHub Personal Page" href="https://github.com/adafede" class="custom-link card-link" target="_blank"><i class="bi bi-github"></i></a>
                    <a title="Twitter/X Account" href="https://twitter.com/adafede" class="custom-link card-link" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a title="LinkedIn Account" href="https://ch.linkedin.com/in/adrianorutz" class="custom-link card-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a title="ORCID" href="https://orcid.org/0000-0003-0443-9902" class="custom-link card-link" target="_blank"><i class="fa-brands fa-orcid"></i></a>
                    <a title="Mastodon Account" href="https://mastodon.online/@adafede" class="custom-link card-link" target="_blank"><i class="bi bi-mastodon"></i></a>
                    <a title="Homepage" href="https://adafede.github.io" class="custom-link card-link" target="_blank"><i class="bi bi-house"></i></a>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/profile_dp.jpg') }}" style="max-width: 94%; height: auto;" class="card-img-top mx-auto" alt="Daniel Probst">
                <div class="card-body">
                    <h5 class="card-title">Daniel Probst</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Daniel is a Swiss computer scientist turned bioinformatician interested in applying machine learning to biological and chemical questions to develop methods that support lab and field scientists.</p>
                    <a title="Email" href="mailto:daniel.probst@wur.nl" class="custom-link card-link"><i class="bi bi-envelope"></i></a>
                    <a title="GitHub Personal Page" href="https://github.com/daenuprobst" class="custom-link card-link" target="_blank"><i class="bi bi-github"></i></a>
                    <a title="Twitter/X Account" href="https://twitter.com/skepteis" class="custom-link card-link" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a title="LinkedIn Account" href="https://ch.linkedin.com/in/daniel-probst-803706144" class="custom-link card-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a title="ORCID" href="https://orcid.org/0000-0003-1737-4407" class="custom-link card-link" target="_blank"><i class="fa-brands fa-orcid"></i></a>
                    <a title="Homepage" href="https://danielprobst.science/" class="custom-link card-link" target="_blank"><i class="bi bi-house"></i></a>
                    <a title="Bluesky" href="https://bsky.app/profile/skepteis.bsky.social" class="custom-link card-link" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Acknowledgements</h2>
            <p class="lead my-3">MITE acknowledges the support of the following people:</p>
            <ul class="lh-base my-3">
                <li><p class="lead my-1">Marnix Medema - academic advisor</p></li>
                <li><p class="lead my-1">The individual MITE Contributors - data contribution</p></li>
                <li><p class="lead my-1">The individual MITE Reviewers - data review</p></li>
            </ul>
            <p class="lead my-3">MITE further acknowledges the support of the following institutions:</p>
            <ul class="lh-base my-3">
                <li><p class="lead my-1">This work was funded by the European Union Horizon 2020 project MARBLES [101000392].</p></li>
                <li><p class="lead my-1">This work was supported by the Netherlands Organization for Scientific Research (NWO) KIC grant KICH1.LWV04.21.013.</p></li>
            </ul>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Site Notice</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto">
            <ul class="lh-base list-unstyled">
                <li><p class="lead mb-1">This website is non-commercial and serves purely informative purposes. We strive to provide accurate information; however, no responsibility is taken for the accuracy of the information displayed. Users are encouraged to verify independently and use the information at their own discretion. Information is gathered from credible sources, and we are not responsible for the content of external sites linked from this website. For more information, see the <a rel="license" href="https://opensource.org/license/mit/" class="custom-link" target="_blank">License.</a></p></li>
                <li><p class="lead mb-1">Contact person: <a class="custom-link"  href="mailto:mitja.zdouc@wur.nl">Mitja M. Zdouc</a></p></li>
                <li><p class="lead mb-1">Telephone: +31317484706</p></li>
                <li><p class="lead mb-1">Address: Bioinformatics Group, Wageningen University & Research, Droevendaalsesteeg 1, 6708PB Wageningen, the Netherlands.</p></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}