{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-2">
        <div class="col">
            <h1 class="fw-semibold lh-2">Downloads</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <p class="lead lh-2">
                All data on the MITE website is retrieved from the <a class="custom-link" target="_blank" href="https://doi.org/10.5281/zenodo.13294303"><b>Zenodo Repository</b></a>, our single source of truth.
                Besides the MITE entries, further data can be found (e.g. protein fasta files of entries, metadata, a BLAST database).
            </p>
        </div>
    </div>
</div>
{% endblock %}