{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-2">
        <div class="col">
            <h1 class="fw-semibold lh-2">Downloads</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <p class="lead lh-2">All data on the MITE website is retrieved from the <a class="custom-link" target="_blank" href="https://doi.org/10.5281/zenodo.13294303"><b>Zenodo Repository</b></a>, our single source of truth.</p>
            <p class="lead lh-2">Below, you can find additional files that are derived from the original dataset.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <div class="list-group">
                <a href="{{ url_for('routes.download_identifier', identifier='mite_zip') }}"><button type="button" class="list-group-item list-group-item-action"><i class="bi bi-download"></i> Download all active (non-retired) MITE entries</button></a>
                <a href="{{ url_for('routes.download_identifier', identifier='smarts') }}"><button type="button" class="list-group-item list-group-item-action"><i class="bi bi-download"></i> Download all reaction SMARTS</button></a>
                <a href="{{ url_for('routes.download_identifier', identifier='smiles') }}"><button type="button" class="list-group-item list-group-item-action"><i class="bi bi-download"></i> Download all substrate/product SMILES</button></a>
                <a href="{{ url_for('routes.download_identifier', identifier='blastlib') }}"><button type="button" class="list-group-item list-group-item-action"><i class="bi bi-download"></i> Download the MITE BLAST DB</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}