<div class="tab-pane fade" id="auxenz" role="tabpanel" aria-labelledby="auxenz-tab" style="max-height: 40vh; overflow-y: auto">
    {% for auxenzyme in data.enzyme.auxiliaryEnzymes %}
    <div class="my-2">
        <p><b>Auxiliary Enzyme #{{ loop.index }}</b></p>
    </div>
    <table class="table table-striped my-3">
        <tbody>
            <tr>
                <td width="25%"><b>Enzyme Name</b></td>
                <td>{{ auxenzyme.name }}</td>
            </tr>
            {% if auxenzyme.description is defined %}
            <tr>
                <td width="25%"><b>Description</b></td>
                <td>{{ auxenzyme.description }}</td>
            </tr>
            {% endif %}
            <tr>
                <td width="25%"><b>Database References</b></td>
                <td>
                    {% if auxenzyme.databaseIds is defined %}
                        <ul class="list-unstyled mb-0">
                        {% for key, value in auxenzyme.databaseIds.items() %}
                            <li>{{ key }}: <a target="_blank" href="{{ value[1] }}">{{ value[0] }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No database crosslinks available
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>