{% extends 'base.html' %}
{% import '_macro_navigation.html' as macro %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="row mb-2">
        <div class="col d-flex justify-content-start align-items-center">
            {{ macro.render_return(ret_acc, url_for('routes.repository', mite_acc=ret_acc)) }}
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="fw-semibold lh-2">{{ data.accession }}</h1>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
            {{ macro.render_forward(fwd_acc, url_for('routes.repository', mite_acc=fwd_acc)) }}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <a href="{{ url_for('routes.submission_existing', mite_acc=data.accession) }}"><button type="button" class="btn btn-secondary"><i class="bi bi-pen"></i> Modify entry</button></a>
        </div>
        <div class="col-auto">
            <a href="{{ url_for('routes.download_identifier', identifier=data.accession) }}"><button type="button" class="btn btn-secondary"><i class="bi bi-download"></i> Download entry</button></a>
        </div>
    </div>
</div>
{% if data.status != "active" %}
    {% include 'retired.html' %}
{% else %}
    {% include 'active.html' %}
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/arrow_navigation.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/copy_clipboard.js') }}" defer></script>
{% endblock %}