{% extends 'base.html' %}
{% import '_macro_navigation.html' as macro %}
{% block content %}
<div class="container-fluid mt-2">
    {% if review %}
    <div class="row mb-2">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="fw-semibold lh-2">Reviewer Mode</h1>
        </div>
    </div>
    {% elif submission_id %}
    <div class="row mb-2">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="fw-semibold lh-2">Preview entry</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col d-flex justify-content-center align-items-center">
            <h2 class="fw-semibold lh-2">Submission ID: {{ submission_id }}</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <form method="post" enctype="multipart/form-data" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button id="submit" name="submit" value="submit" type="submit" class="btn btn-primary">Submit entry for review</button>
            </form>
        </div>
        <div class="col-auto text-center">
            <form method="post" enctype="multipart/form-data" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button id="modify" name="modify" value="modify" type="submit" class="btn btn-secondary">Modify further</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row mb-2">
        {% if ret_acc == "MITE0000000" %}
        <div class="col-2 d-flex justify-content-start align-items-center"></div>
        {% else %}
        <div class="col-2 d-flex justify-content-start align-items-center">
            {{ macro.render_return(ret_acc, url_for('routes.repository', mite_acc=ret_acc)) }}
        </div>
        {% endif %}
        <div class="col-8 d-flex justify-content-center align-items-center">
            <h1 class="fw-semibold lh-2">{{ data.accession }}</h1>
        </div>
        {% if max_entry_reached %}
            <div class="col-2 d-flex justify-content-start align-items-center"></div>
        {% else %}
        <div class="col-2 d-flex justify-content-end align-items-center">
            {{ macro.render_forward(fwd_acc, url_for('routes.repository', mite_acc=fwd_acc)) }}
        </div>
        {% endif %}
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <a href="{{ url_for('routes.submission_existing', mite_acc=data.accession, src_path='data') }}"><button type="button" class="btn btn-secondary"><i class="bi bi-pen"></i> Modify entry</button></a>
        </div>
        <div class="col-auto">
            <a href="{{ url_for('routes.download_identifier', identifier=data.accession) }}"><button type="button" class="btn btn-secondary"><i class="bi bi-download"></i> Download entry</button></a>
        </div>
    </div>
    {% endif %}
{% if data.status == "retired" %}
    {% include 'retired.html' %}
{% else %}
    {% include 'active.html' %}
{% endif %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/arrow_navigation.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/copy_clipboard.js') }}" defer></script>
{% endblock %}