{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <h1 class="fw-semibold lh-2">Repository</h1>
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="card card-body">
            <div class="col text-center mx-auto">
                <h4 class="fw-semibold lh-2">Error during substructure search!</h4>
                <ul class="lh-base list-unstyled">
                {% for message in messages %}
                    <li><p class="lead mb-1">{{ message }}</p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col">
                <h5 class="fw-semibold lh-2">Search for substructure</h5>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="substructure_query" id="substructure_query" class="form-control" aria-label="Insert your SMILES/SMARTS string" placeholder="Insert your SMILES/SMARTS substructure string">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select type of query</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="submit" name="action" value="smiles">SMILES</button></li>
                    <li><button class="dropdown-item" type="submit" name="action" value="smarts">SMARTS</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    {% if query_data is defined %}
    <div class="row mb-3">
        <div class="col">
            <h5 class="fw-semibold lh-2">Substructure search results</h5>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-auto">
            <h6 class="fw-semibold lh-2">Search query</h6>
        </div>
        <div class="col-auto">
            <p>{{ query_data.substructure_query }}</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-auto">
            <h6 class="fw-semibold lh-2">Number of matches</h6>
        </div>
        <div class="col-auto">
            <p>{{ query_data.result_len }}</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <div id="search-count" class="lead"></div>
        </div>
    </div>
    <table id="table" class="my-3 table-striped" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-field="accession">MITE Accession</th>
                <th scope="col" data-sortable="true" data-field="status">Status</th>
                <th scope="col" data-sortable="true" data-field="name">Enzyme Name</th>
                <th scope="col" data-sortable="true" data-field="tailoring">Tailoring Reaction</th>
                <th scope="col" data-sortable="false" data-field="description">Enzyme Type</th>
                <th scope="col" data-sortable="false" data-field="reaction_description">Reaction Description</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in entries.items() %}
                <tr>
                    <th width="20%" scope="row"><a class="custom-link" target="_blank" href="{{ url_for('routes.repository', mite_acc=key) }}">{{ key }}</a></th>
                    <td>{{ value.status | safe }}</td>
                    <td>{{ value.name }}</td>
                    <td>{{ value.tailoring }}</td>
                    <td>{{ value.description | truncate(75, True) }}</td>
                    <td>{{ value.reaction_description | truncate(75, True) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/table_counter.js') }}" defer></script>
{% endblock %}