{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <h1 class="fw-semibold lh-2">Repository</h1>
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="card card-body">
            <div class="col text-center mx-auto">
                <h4 class="fw-semibold lh-2">Error during search!</h4>
                <ul class="lh-base list-unstyled">
                {% for message in messages %}
                    <li><p class="lead mb-1">{{ message }}</p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row d-flex align-items-center mb-3">
            <div class="col-auto">
                <label for="substructure_query" class="form-label">Search for a substructure</label>
                <div class="input-group">
                    <input type="text" name="substructure_query" id="substructure_query" class="form-control" aria-label="Insert your query SMILES/SMARTS" aria-describedby="substructure_descr" placeholder="Insert SMILES/SMARTS query">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select type of query</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="submit" name="action" value="smiles">SMILES</button></li>
                    <li><button class="dropdown-item" type="submit" name="action" value="smarts">SMARTS</button></li>
                    </ul>
                </div>
                <div class="form-text" id="substructure_descr">Search the MITE repository for a certain substructure (e.g. 'C1CCCCC1' or '[c]-[X]')</div>
            </div>
            <div class="col">
                <label for="sequence" class="form-label">Search for a protein sequence</label>
                <div class="input-group">
                    <input type="text" aria-label="sequence" id="sequence" name="sequence" class="form-control" aria-describedby="blast_descr" placeholder="Insert your query protein sequence">
                    <input type="number" aria-label="e_val" id="e_val" name="e_val" class="form-control" value="10">
                    <span class="input-group-text">E-value</span>
                    <button class="btn btn-outline-secondary" type="submit" name="action" value="blast">BLAST!</button>
                </div>
                <div class="form-text" id="blast_descr">BLAST a protein sequence against all enzymes in the MITE repository</div>
            </div>
        </div>
    </form>
    {% if substructure_results is defined %}
    <hr>
    <table id="substructure_table" class="my-3 table-striped" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-field="index">Match #</th>
                <th scope="col" data-sortable="true" data-field="accession">MITE Accession</th>
                <th scope="col" data-sortable="true" data-field="reaction">Reaction</th>
                <th scope="col" data-sortable="true" data-field="reaction_example">Reaction Example</th>
                <th scope="col" data-sortable="false" data-field="query">Matches Query</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in substructure_results.items() %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td><a class="custom-link" target="_blank" href="{{ url_for('routes.repository', mite_acc=key) }}">{{ value.accession }}</a></td>
                    <td>{{ value.reaction }}</td>
                    <td>{{ value.example }}</td>
                    <td>{{ value.query }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% endif %}
    {% if blast_results is defined %}
    <hr>
    <table id="blast_table" class="my-3 table-striped" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-field="index">Match #</th>
                <th scope="col" data-sortable="true" data-field="accession">MITE Accession</th>
                <th scope="col" data-sortable="true" data-field="e_value">E-Value</th>
                <th scope="col" data-sortable="true" data-field="similarity">Sequence Similarity (%)</th>
                <th scope="col" data-sortable="true" data-field="alignment">Alignment Score</th>
                <th scope="col" data-sortable="true" data-field="bitscore">Bit-Score</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in blast_results.items() %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td><a class="custom-link" target="_blank" href="{{ url_for('routes.repository', mite_acc=key) }}">{{ value.accession }}</a></td>
                    <td>{{ value.evalue }}</td>
                    <td>{{ value.sequence_similarity }}</td>
                    <td>{{ value.alignment_score }}</td>
                    <td>{{ value.bit_score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% endif %}
    <div class="row">
        <div class="col">
            <div id="search-count" class="lead"></div>
        </div>
    </div>
    <table id="table" class="my-3 table-striped" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-field="accession">MITE Accession</th>
                <th scope="col" data-sortable="true" data-field="status">Status</th>
                <th scope="col" data-sortable="true" data-field="name">Enzyme Name</th>
                <th scope="col" data-sortable="true" data-field="tailoring">Tailoring Reaction</th>
                <th scope="col" data-sortable="true" data-field="description">Enzyme Type</th>
                <th scope="col" data-sortable="true" data-field="organism">Organism of Origin</th>
                <th scope="col" data-sortable="false" data-field="reaction_description">Reaction Description</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in entries.items() %}
                <tr>
                    <th width="20%" scope="row"><a class="custom-link" target="_blank" href="{{ url_for('routes.repository', mite_acc=key) }}">{{ key }}</a></th>
                    <td>{{ value.status | safe }}</td>
                    <td>{{ value.name }}</td>
                    <td>{{ value.tailoring }}</td>
                    <td>{{ value.description | truncate(75, True) }}</td>
                    <td>{{ value.organism }}</td>
                    <td>{{ value.reaction_description | truncate(75, True) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/table_counter.js') }}" defer></script>
{% endblock %}