{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1 class="fw-semibold lh-2">Repository</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="search-count" class="lead"></div>
        </div>
    </div>
    <table id="table" class="my-3 table-striped" data-toggle="table" data-search="true">
        <thead>
            <tr>
                <th scope="col" data-sortable="true" data-field="accession">MITE Accession</th>
                <th scope="col" data-sortable="true" data-field="status">Status</th>
                <th scope="col" data-sortable="true" data-field="reviewed">Reviewed</th>
                <th scope="col" data-sortable="true" data-field="name">Name</th>
                <th scope="col" data-sortable="true" data-field="tailoring">Tailoring</th>
                <th scope="col" data-sortable="false" data-field="description">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in entries.items() %}
                <tr>
                    <th width="20%" scope="row"><a class="custom-link" href="{{ url_for('routes.repository', mite_acc=key) }}">{{ key }}</a></th>
                    <td>{{ value.status | safe }}</td>
                    <td>{{ value.reviewed | safe }}</td>
                    <td>{{ value.name }}</td>
                    <td>{{ value.tailoring }}</td>
                    <td>{{ value.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/table_counter.js') }}" defer></script>
{% endblock %}