{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row my-3">
        <div class="col-auto">
            <h1 class="fw-semibold lh-2">MITE Entry Review Portal</h1>
            <p class="lead lh-2">Reviewers can use this page to conveniently review a pending MITE entry. Simply submit a MITE JSON file OR paste its content.</p>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="row">
        <div class="card card-body">
            <div class="col text-center mx-auto">
                <h4 class="fw-semibold lh-2">Error during automated validation!</h4>
                <ul class="lh-base list-unstyled">
                {% for message in messages %}
                    <li><p class="lead mb-1">{{ message }}</p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row my-2">
            <div class="col-md-6">
                <label for="jsonFile" class="form-label">Upload a MITE JSON file...</label>
                <input class="form-control" type="file" id="jsonFile" name="jsonFile" accept=".json">
            </div>
            <div class="col-md-6">
                <label for="jsonText" class="form-label">... OR paste the content of a MITE JSON</label>
                <textarea class="form-control" id="jsonText" name="jsonText" rows="3" placeholder="Insert JSON file content"></textarea>
            </div>
        </div>
        <div class="row my-3">
            <div class="col text-center mx-auto">
                <button id="submit" type="submit" class="btn btn-primary">Visualize MITE entry</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}