{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-2">Canonicalize SMILES</h1>
            <p class="lead mb-2">Cheminformatic tools differ in their interpretation of chemical structures. MITE uses RDKit as its backend processing tool, which sometimes interprets structures differently from drawing programs, e.g. in terms of aromaticity of heterocycles, or tautomerism. Therefore, a substrate/product pair may not work with a reaction SMARTS, simply because RDKit treats the SMILES string of the product differently than another tool.</p>
            <p class="lead mb-2">Therefore, we offer a simple tool that can canonicalize any SMILES string by running it through the RDKit engine. The resulting SMILES can be then used to build the reaction SMARTS in e.g. Ketcher.</p>
        </div>
    </div>
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="card card-body">
            <div class="col text-center mx-auto">
                <h4 class="fw-semibold lh-2">Error during SMILES canonicalization!</h4>
                <ul class="lh-base list-unstyled">
                {% for message in messages %}
                    <li><p class="lead mb-1">{{ message }}</p></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row my-2">
            <div class="col">
                <div class="form-floating">
                    <input id="smiles_in" name="smiles_in" class="form-control" minlength="2" aria-describedby="SmilesHelp" type="text" value="{{ data.get('smiles_in', '') }}"  required>
                    <label for="smiles_in" class="form-label">SMILES string</label>
                    <div id="SmilesHelp" class="form-text">A SMILES string to be canonicalized by RDKit.</div>
                </div>
            </div>
        </div>
        {% if data.get('smiles_out') %}
        <div class="row mb-2">
            <div class="col">
                <h4 class="fw-semibold lh-2">Canonical SMILES string</h4>
                <p><b>{{ data.get('smiles_out') | trim }}</b></p>
            </div>
        </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col">
                <button type="submit" class="btn btn-primary">Canonicalize SMILES string</button>
            </div>
        </div>
    </form>
    <div class="row my-4">
        <div class="col">
            <h3 class="fw-semibold lh-2">Examples</h3>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/canon_smiles/4-pyrone-ketcher.svg') }}" style="max-width: auto; height: auto;" class="card-img-top mx-auto" alt="4-Pyrone by Ketcher">
                <div class="card-body">
                    <h5 class="card-title">4-Pyron-derivative by Ketcher</h5>
                    <h6 class="card-subtitle mb-2 text-muted">SMILES: CC1=C(CC/C(/C)=C/C(/C)=C/c2ccccc2)OC(O)=C(C)C1=O</h6>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/canon_smiles/4-pyrone-rdkit.svg') }}" style="max-width: auto; height: auto;" class="card-img-top mx-auto" alt="4-Pyrone by RDKit">
                <div class="card-body">
                    <h5 class="card-title">4-Pyron-derivative by RDKit</h5>
                    <h6 class="card-subtitle mb-2 text-muted">SMILES: CC(=C\c1ccccc1)/C=C(\C)CCc1oc(O)c(C)c(=O)c1C</h6>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}