{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-4">
        <div class="col">
            <h1 class="fw-semibold lh-2">Submission Successful!</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4 class="fw-semibold lh-2">Your Submission ID is: {{ sub_id }}</h4>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <h2 class="fw-semibold lh-2">What happens next?</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <p class="lead lh-2">
                Your submission has been queued for review on the <a class="custom-link" target="_blank" href="https://github.com/mite-standard/mite_data/pulls"><b>MITE Data GitHub webpage</b>.</a>
                THe reviewers will inspect your submission, correct fixable errors, or flag any issues that cannot be resolved.
                You are invited to participate in this discussion.
            </p>
            <p class="lead lh-2">
                Once review is completed and the submission is approved, it will be added to the newest release of the MITE Data repository.
                Once the release in published, your submission can be accessed on the MITE Webpage.
            </p>
        </div>
    </div>
</div>
{% endblock %}