{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row my-3">
        <div class="col-auto">
            <h1 class="fw-semibold lh-2">Submission Portal</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Pending submissions</h2>
            <p class="lead lh-2">All submissions are tracked via the <a target="_blank" class="custom-link" href="https://github.com/mite-standard/mite_data/issues">MITE Data GitHub webpage.</a></p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h2 class="fw-semibold lh-2">Submit a new entry</h2>
            <p class="lead lh-2">
                Before submitting a new entry, please check if the enzyme in question already has an entry and/or if it is already a <a target="_blank" class="custom-link" href="https://github.com/mite-standard/mite_data/issues">pending submission.</a>
                Also, please be aware of our <a class="custom-link" href="{{ url_for('routes.termsofuse') }}">Terms of Use</a> when submitting data.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto mx-auto d-flex flex-column justify-content-center text-center">
            <div><a class="btn btn-lg btn-primary fw-semibold" href="{{ url_for('routes.submission_data', var='new', role='contributor') }}">Submit a new Entry</a></div>
            <h6 class="my-3">For help on how to create MITE entries, check out the <a rel="MITE video tutorial on YouTube" href="https://www.youtube.com/watch?v=xw8Xig8uq90" class="custom-link" target="_blank"><b>video tutorial</b></a> or the <a class="custom-link" href="{{ url_for('routes.tutorial') }}"><b>Tutorial page</b></a>.</h6>
        </div>
    </div>
</div>
{% endblock %}