{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-2 text-center">
        <div class="col">
            <h1 class="fw-semibold lh-2">Submission Failed!</h1>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <div class="col">
            <h2 class="fw-semibold lh-2">What happened?</h2>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <div class="col">
            <p class="lead lh-2">
                Something went wrong with the submission! Please contact one of the developers and include the error message below.
            </p>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <div class="col">
            <textarea class="form-control code-box" style="height: 400px; overflow-y: scroll;" readonly>
                {% if error %}
                    {{ error }}
                {% else %}
                <p>No log entries available.</p>
                {% endif %}
            </textarea>
        </div>
    </div>
</div>
{% endblock %}