{% extends 'base.html' %}
{% import '_macros_submission.html' as macro %}

{% block content %}
<div class="container mt-5">
    <div>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div id="enzyme-fields">
                {{ macro.render_text(title="Enzyme Name", key="enzyme_names[]", type="text", value=data.enzyme.name, required=true, help="The name of the enzyme") }}
            </div>
            {{ macro.add_button(id="add-enzyme", descr="Add Another Enzyme Name") }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/dynamic_fields.js') }}" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Define the HTML for new fields
    var enzyme = `
        <div class="enzyme-group">
            {{ macro.render_text(title="Enzyme Name", key="enzyme_names[]", type="text", value="", required=true, help="The name of the enzyme") }}
            {{ macro.remove_button(class="remove-enzyme", descr="Remove Enzyme") }}
        </div>
    `;

    // Set up dynamic fields for enzyme names
    setupDynamicFields('#enzyme-fields', '#add-enzyme', '.remove-enzyme', '.enzyme-group', enzyme);
});
</script>
{% endblock %}