{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row my-3">
        <div class="col-auto">
            <h1 class="fw-semibold lh-2">Terms of Use</h1>
            <p class="lead lh-2">By submitting data through the MITE Submission system, you agree to the following terms:</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">1. Data Submission and Open Source License</h4>
            <p class="lead lh-2">By submitting data to the MITE Submission system, you agree to release the submitted data under the terms of the <a class="custom-link" href="https://creativecommons.org/public-domain/cc0/"><b>CC0 "No Rights Reserved" license</b></a>, placing it in the public domain. You acknowledge that once the data is submitted and has undergone review, it is archived in Zenodo, it becomes part of the permanent record.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">2. Public Availability of Submitted Data</h4>
            <p class="lead lh-2">By submitting the form, you acknowledge and agree that the data you provide may be made publicly available on this website, on the <a class="custom-link" href="https://github.com/mite-standard/mite_data/issues"><b>MITE Data GitHub webpage</b></a>, and in the <a class="custom-link" href="https://doi.org/10.5281/zenodo.13294303"><b>Zenodo record</b></a>. We do not guarantee any privacy or confidentiality for your submissions.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">3. Display of ORCID</h4>
            <p class="lead lh-2">If you provide an ORCID as part of your submission, you agree that it will be part of the associated data and displayed publicly on this webpage, on the <a class="custom-link" href="https://github.com/mite-standard/mite_data/issues"><b>MITE Data GitHub webpage</b></a>, and in the <a class="custom-link" href="https://doi.org/10.5281/zenodo.13294303"><b>Zenodo record</b></a> in association with your submitted data.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">4. No Responsibility for Data Loss</h4>
            <p class="lead lh-2">While we take reasonable steps to ensure the security of submitted data, we do not accept any responsibility for data loss, corruption, or any other issues that may occur during submission, storage, or processing. It is your responsibility to ensure that your data is accurately submitted.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">5. No Guarantee of Correct Data Processing</h4>
            <p class="lead lh-2">We make no guarantee that the data you submit will be processed correctly or without errors. We are not responsible for any inaccuracies or mistakes that may result from incorrect data processing or system failures.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">6. Prohibition of Malicious or Trolling Behavior</h4>
            <p class="lead lh-2">You agree not to submit any content that is offensive, harmful, malicious, or intended to troll others. Any input that is deemed inappropriate or harmful by the platform may result in your submission being rejected or your access being restricted. For more information please refer to our <a rel="license" href="https://github.com/mite-standard/.github/blob/main/CODE_OF_CONDUCT.md" class="custom-link" target="_blank"><b>CODE OF CONDUCT</b></a>.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">7. Reuse and Licensing</h4>
            <p class="lead lh-2">The data displayed on this website (="mite_data") is part of the public domain and released under the terms of the <a class="custom-link" href="https://creativecommons.org/public-domain/cc0/"><b>CC0 "No Rights Reserved" license</b></a>. The website itself is licensed under the <a class="custom-link" href="https://opensource.org/license/mit/"><b>MIT open source license</b></a>, where applicable. For details on the terms, please see the License.</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-auto">
            <h4 class="lh-2">8. Changes to Terms</h4>
            <p class="lead lh-2">We reserve the right to modify these terms at any time. Any changes to the Terms of Use will be posted on this page, and your continued use of the form constitutes acceptance of those changes.</p>
        </div>
    </div>
</div>
{% endblock %}