services:
  app:
    image: ghcr.io/mite-standard/mite_web:v2.0.0.beta.5-data-1.21-extras-0.5.0
    networks:
      - app_network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "1340:80"
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge