{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <h1 class="fw-semibold lh-2">Repository - retired entries</h1>
            <p class="mb-2">Click <a class="custom-link" href="{{ url_for('overview') }}"><b>here</b></a> to go to the active entries.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h3 class="fw-semibold lh-2">Overview</h3>
        </div>
    </div>
    <table class="my-3 table table-striped table-hover">
        <thead>
            <tr>
              {% for header in headers %}
                <th>{{ header[1] }}</th>
              {% endfor %}
            </tr>
        </thead>
        <tbody class="align-middle">
        {% for row in entries %}
          <tr>
            {% for header in headers %}
              {% if header[0] == "accession" %}
              <td><a class="custom-link" target="_blank" href="{{ url_for('repository', mite_id=row[header[0]]) }}">{{ row[header[0]] }}</a></td>
              {% elif header[0] == "status" %}
              <td class="text-center">{{ row[header[0]] | safe }}</td>
              {% elif header[0] == "description" %}
              <td>{{ row[header[0]] | truncate(75, True) }}</td>
              {% elif header[0] == "reaction_description" %}
              <td>{{ row[header[0]] | truncate(75, True) }}</td>
              {% else %}
              <td>{{ row[header[0]] }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}