{% extends 'base.html' %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="row mb-2 text-center align-items-center">
    </div>
     <div class="row flex justify-content-center">
        <div class="col-auto">
            <form id="modify" method="post" action="{{ url_for('submission_modified') }}">
                <input type="hidden" name="data_form" value='{{ data_form | tojson }}'>
                <input type="hidden" name="token" value="{{ token }}">
                <button id="modify-submit" type="submit" class="btn btn-secondary btn-sm">Modify further</button>
            </form>
        </div>
         <div class="col-auto">
            <form id="submit" method="post" action="{{ url_for('review_submit') }}">
                <input type="hidden" name="data_form" value='{{ data_form | tojson }}'>
                <input type="hidden" name="token" value="{{ token }}">
                <button type="submit" id="submit-submit" class="btn btn-primary btn-sm">Submit for review</button>
            </form>
        </div>
    </div>
    {% include 'active.html' %}
</div>
<script type="text/javascript" src="{{ url_for('static', path='js/disable_button.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', path='js/copy_clipboard.js') }}" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        disableButton(document.getElementById('modify'), document.getElementById('modify-submit'))
        disableButton(document.getElementById('submit'), document.getElementById('submit-submit'))
    });
</script>
{% endblock %}