{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row my-4">
        <div class="col-auto">
            <h1 class="fw-semibold lh-2">Submission Portal</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-auto">
            <h3 class="fw-semibold lh-2">Submit a new entry</h3>
        </div>
    </div>
  <div class="row mb-3 d-flex align-items-center">
    <div class="col-auto text-center">
      <button class="btn btn-lg btn-primary fw-semibold">Create new submission form</button>
    </div>
    <div class="col-6">
      <h6 class="fw-semibold lh-2">Don't know where to start?</h6>
      <p class="mb-0">
        For help on how to create MITE entries, check out the <a rel="MITE video tutorial on YouTube" href="https://www.youtube.com/watch?v=xw8Xig8uq90" class="custom-link" target="_blank"><b>video tutorial</b></a> or the <a class="custom-link" href="{{ url_for('tutorial') }}"><b>Tutorial page</b></a>.
        How about creating a new entry from one of the publications in the <a target="_blank" class="custom-link" href="https://docs.google.com/spreadsheets/d/1LlBKYoCEwuXa2GE-jD5aYYLyEKL9FUBMU4mExyq8Ve4/edit?usp=sharing"><b>MITE paper collection?</b></a>
      </p>
    </div>
  </div>
  {% if kanban %}
  <div class="kanban">
    {% for column, prs in kanban.items() %}
      <div class="kanban-column">
        <h3>{{ column }}</h3>

        {% for pr in prs %}
          <div class="kanban-card">
            <a href="{{ pr.url }}" target="_blank">
              {{ pr.title }}
            </a>
            <div class="meta">
              created at {{ pr.created_at }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  {% else %}
    <h3>Kanban board not supported in development mode.</h3>
  {% endif %}
</div>
{% endblock %}