{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bd-gutter">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1 class="fw-semibold lh-2">Troubleshooting</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead my-2">Preparing reaction SMARTS of complex enzymatic reactions can sometimes lead to validation errors, even though the reaction drawing appears correct. Sometimes, this is due to user-introduced errors, but it can also be caused by reaction SMARTS formatting errors or ambiguities. These errors may pop up during the validation step, when a new MITE entry is submitted. Below are several known issues and ways to solve them.</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Error</th>
                        <th scope="col">Explanation</th>
                        <th scope="col">Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i>“1 validation error for Reaction Value error, Products '{'...'}' do not meet expectations '{'...'}'”</i></td>
                        <td>When applied to the substrate SMILES, the specified reaction SMARTS did not lead to the expected (specified) product SMILES.</td>
                        <td>Check the reaction SMARTS, substrate SMILES, and product SMILES for errors.</td>
                    </tr>
                    <tr>
                        <td><i>“ChemicalParserException: Number of reactants provided does not match number of reactant templates.”</i></td>
                        <td>A balanced reaction (SMILES substrates/products) was defined, but one or more substrates/products are missing in the reaction SMARTS.</td>
                        <td>Add the correct number of reactants to the reaction SMARTS.</td>
                    </tr>
                    <tr>
                        <td><i>“Explicit valence for atom # 3 C, 5, is greater than permitted. ValueError, Could not read SMILES string”</i></td>
                        <td>During the reaction, a carbon is modified (e.g. substitution, reduction, etc.), leading to a higher-than-possible valence grade. Since hydrogens are implicit in reaction SMARTS, there can be situations where RDKit (our validation engine) assumes an additional hydrogen to be located on an already tetravalent carbon, leading to a pentavalent state.</td>
                        <td>The correct number of hydrogens must be stated explicitly, i.e. replacing “[#6:2]” with “[#6&H0:2]” (atom number 6 (carbon) with exactly 0 hydrogens with atom label '2').</td>
                    </tr>
                    <tr>
                        <td><i>I am using Ketcher to draw a reaction with heteroatoms besides oxygen and nitrogen. When I copy the reaction SMARTS and paste it back into Ketcher, I get an error 'Convert error! Given string could not be loaded as (query or plain) molecule or reaction, see the error messages: 'molecule auto loader: (...)'. Does this mean that my reaction is wrong?</i></td>
                        <td>No, your reaction is most likely right! Ketcher creates reaction SMARTS with a wrong formatting of such heteroatoms (it does not encapsulate them in square brackets).</td>
                        <td>To fix the reaction SMARTS manually, add square brackets '[]' around the heteroatoms to (e.g. '[#6:5](-Cl:7)-[#6:6]' to '[#6:5](-[Cl:7])-[#6:6]'</td>
                    </tr>
                    <tr>
                        <td><i>I am using Ketcher to draw a reaction where a tryptophan is being modified. However, I can't manage to validate the reaction. What is going on?</i></td>
                        <td>When aromatic heterocycles are modified, Ketcher uses a notation incompatible with RDKit, our validation engine.</td>
                        <td>To fix the reaction SMARTS manually, replace '[#7;h1]' with '[n&H1]'.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}